.mml {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: transparent;
  }

.app-background {
  position: absolute;
  top: -1%;
  left: -1%;
  width: 102%; // old was 102
  height: 102%;
  object-fit: fill; 
  z-index: -1;
  filter: blur(.3vw);
  overflow: hidden;
}