.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: #050505d3;
  }
  

.confirm-delete {
    display: flex;
    flex-direction: column;
    background: #0a0a0a;
    padding: 2vh;
    width: 20%;
    height: max-content;
    gap: 2vh;
    border-radius: 14px;
    color: #fff;
    font-family: var(--font-family-secondary);
}

.confirm-delete-header {
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
}

.confirm-delete-body {
    font-weight: 100;
    font-size: 2vh;
    margin: 0;
}

.confirm-delete-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
}

.confirm-delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vh;
    height: 4vh;
    border-radius: 2px;

    cursor: pointer;
}

.confirm-delete-button-text {
    margin: 0;
    color: #fff;
    font-size: 2vh;
    font-family: var(--font-family-secondary);
}