.dropdown {
    position: relative; 
    z-index: 10;
    background: #6bb36b;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 100%;
    margin: 0;
    resize: none;

    font-family: var(--font-family);
    font-size: 22px;
}

.dropdown.update {
    background: #0e6ebd;

}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-carret-down {
    width: 65%;
    height: 100%;
    transition: transform 0.2s ease; /* Add transition for smoother animation */
}

.dropdown-carret-down.open {
    transform: rotate(180deg); 
}

.dropdown-selected-option {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-variant: small-caps;
    font-family: var(--font-family);
    font-size: 4vh;
    gap: 2vh;
    font-weight: normal;
    color: #fff;
}

.dropdown-selected-option-type {
    width: 4.3vh;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-options {
    position: absolute; 
    top: 100%; 
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14.3vw;
    padding: 0;
    margin-left: -14.2vw; 
    background: #292929;
    border-radius: 2px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: #fff;
}

.dropdown-options.open {
    max-height: 28vh;
    transition: max-height 0.2s ease-in;
}

.dropdown-options-option {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #e94c4c;
    background: #1d1d1d;
}

