.modpacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    max-height: 60%;
    overflow-y: auto;
    transition: max-height 0.4s ease-in-out, border-radius 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
  }
  
  .modpacks-modpack {
    width: 15vh;
    height: 15vh;
    max-height: 15vh;
    min-height: 15vh;
    padding: 1vh;
    padding-left: 2vh;
  
    cursor: pointer;
  }
  
  .modpacks-modpack-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
  }
  