.settings-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    margin-top: 2.5vh;
    gap: 1vh;
}

.settings-slider-input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    align-items: center;
    background: #2e2e2e;
    font-size: 1.5vh;
}


.settings-slider-input {
    width: 60%;
    text-align: center;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid transparent;
    font-size: 1.5vh;
}

.settings-slider-text {
    margin: 0;
    margin-left: -.5vh;
    padding: 0;
}

.settings-slider-slide-bar {
    width: 92%;
    height: 1.2vh;
    border-radius: 1vh;
    -webkit-appearance: none;
    background: transparent;
    outline: none;
}

.settings-slider-slide-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.9vh;
    height: 1.9vh;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}
