.settings-option-container {
    width: 100%;
    height: fit-content;
    margin: 1.2vh 0 2vh 0;
}

.settings-option {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    margin-left: 5%;
}

.settings-option-text {
    font-family: var(--font-family-secondary);
    font-size: .9vw;
    margin: 0;
    padding: 1vh 0;
}