:root {
  --primary-color: linear-gradient(324deg, rgba(23,22,22,1) 0%, rgba(74,72,72,1) 100%);
  ;
  --primary-color-trans: #222121af;
  --secondary-color: #31313100;
  --accent-color: #d9d4d4;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
