.settings {
    position: absolute;
    top: 0;
    right: -20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 100%;

    transition: right 0.3s ease-in;

    background: var(--primary-color);
    font-family: var(--font-family-secondary);
    color: #fff;
}

.settings-body {
    margin-bottom: 26vh;
}

.settings-header, .settings-body-header {
    width: 100%;
    height: fit-content;
}

.settings-header {
    padding: 6% 0;
    margin-bottom: 1vh;
}

.settings-header-back {
    position: absolute;
    right: .3%;
    top: 1%;
    cursor: pointer;
    width: 6vh;
    height: 6vh;
}

.settings-header-text, .settings-body-header-text {
    margin: 0;
    margin-left: 5%;
}

.settings-header-text {
    font-size: 1.9vw;
    font-weight: 600;
}

.settings-body-header {
    padding: 6px 0;
    background: #2e2e2e;
}

.settings-body-header-text {
    font-size: 1.1vw;
}

.settings-mml {
    position: relative;
    top: 18.5%;
    left: 3%;
    display: flex;
    flex-direction: column;
}

.settings-mml-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;

    margin-top: -12%;
}

.settings-mml-info-text {
    color: #b3b3b3;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    margin-left: .3vh;
    margin-right: .5vh;
}

.settings-mml-info-website {
    width: 2.5vh;
    height: 2.5vh;
    cursor: pointer;
}
.settings-mml-icon {
    width: 20vh;
    height: 20vh;
}

