.side-panel {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary-color);

    transition: right 0s ease-in;

}

.side-panel-content {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3vh;
    margin-bottom: 0vh;
    gap: 1vh;
}

.side-panel-content-profile-picture {
    width: 24vh;
    height: 24vh;
}

.side-panel-content-profile-picture-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.side-panel-content-profile-name {
    color: #fff;
    font-family: var(--font-family-secondary);
    font-size: 2.4vh;
}

.side-panel-setting {
    position: absolute;
    right: .3%;
    top: 1%;
    cursor: pointer;
    width: 6vh;
    height: 6vh;
}
